/* General */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: darkgoldenrod;
  color: #fafafa;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
}

p {
  font-weight: 300;
  margin-bottom: 0.8rem;
}

/* Navigation */

a {
  color: white;
  text-decoration: none;
}

nav ul {
  display: flex;
  padding: 1rem;
  background: lightblue;
  min-height: 10vh;
  justify-content: space-around;
  align-items: center;
}

.header {
  background-color: #534f59;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  min-height: 10vh;
  align-items: center;
}

.controls h2 {
  padding: 1rem;
}

button {
  background: #7044a0;
  padding: 1rem 2rem;
  border: none;
  border-bottom: 2px solid #603a88;
  cursor: pointer;
  color: white;
  font-size: 1.4rem;
  font-weight: 300;
  padding: 0.8rem;
  transition: background 0.3s ease, color 0.3s ease;
}

button:hover {
  background: #5f3a87;
}

/* Sneakers */

#sneakersForPriceComparison {
  min-height: 60vh;
  border: 3px solid black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.sneaker {
  margin: 1rem 1rem;
  border-color: cornflowerblue;
  border-width: 2rem;
  border-style: solid;
  background: #2b292e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-items: center;
  vertical-align: middle;
  flex: 1 1 20rem;
  border-radius: 25%;
}

.sneaker span {
  margin: 1rem;
  font-family: "Calistoga", cursive;
  font-size: 3.5rem;
  text-align: center;
  position: absolute;
  height: 50%;
}

.sneaker img {
  width: 100%;
}

.correct {
  border-color: green;
}

.incorrect {
  border-color: orange;
}
